body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  color:#666666;
}


.container{
  width:1170px;
  margin: 0 auto;
}

.clearBoth{
  clear:both;
}

.button{
  background:#FFFFFF;
  color:#97735e;
  display:inline-block;
  padding:20px 40px;
  text-decoration:none;
  text-transform: uppercase;
  transition: 0.8s all linear;
}

.button:hover{
  background:#97735e;
  color:#FFFFFF;
  padding:20px 50px;
}


/******************

    HEADER

******************/


header#header{
  background:url(../images/fond_header.jpg);
  background-size:cover;
  padding-top:85px;
  padding-bottom:150px;
}

.lienLogo{
  padding-left:30px;
}

.headerInfo{
  padding-top:289px;
  text-align: center;
}

.headerInfo h1{
  color:#FFFFFF;
  text-transform: capitalize;
  font-size:69px;
  font-weight:700;
  margin-bottom:0;
  line-height:64px;
}

.headerInfo h2{
  color:#FFFFFF;
  font-size:44px;
  margin-top:0;
  line-height:44px;
}













